/* Base Application Styles */
@font-face {
    font-family: "icon-fonts";
    src: url("../fonts/icons/turn-arrow.eot") format("embedded-opentype"), url("../fonts/icons/turn-arrow.woff") format("woff"), url("../fonts/icons/turn-arrow.ttf") format("truetype"), url("../fonts/icons/turn-arrow.svg") format("svg");
}
body,ul,li,p,span,h1,h2,h3,h4,h5,h6,strong,div,figure,section,figcaption{
  padding: 0;
  margin: 0;
  list-style: none;
}
body {
  background: #ddd;
  color:#666;
  font-family:sans-serif,"微软雅黑";
}

#app{
  width: 100%;
  height: 100%;
}
.gallery{
   position: absolute;
   top:0;
   right:0;
   left: 0;
   bottom: 0;
   overflow: hidden;
}
/* img-start */
.img-sec{
  width: 100%;
  height: 100%;
  figure{
    width: 320px;
    height: 360px;
    padding: 40px;
    background-color: #fff;
    position: absolute;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    transform-origin: left;
    transform-style: preserve-3d;
    transition: left .6s ease-in-out,top .6s ease-in-out,transform .6s ease-in-out;
    .img-title{
      display: block;
      font-size: 16px;
      margin-top: 20px;
      font-weight: bold;
      color: #666;
    }
    .img-desc{
      width: 100%;
      height: 100%;
      padding: 40px;
      box-sizing: border-box;
      position: absolute;
      top:0;
      left: 0;
      transform: rotateY(180deg);
      backface-visibility: hidden;
      background-color: #fff;
      p{
        font-size: 22px;
      }
    }
  }
  figure.is-reverse{
    transform:translateX(320px)rotateY(180deg);
  }
}
/* img-end */

/*nav-start*/
  .controller-nav{
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 30px;
    text-align: center;
    span{
      width: 30px;
      height: 30px;
      display: inline-block;
      background-color: #aaa;
      border-radius: 50%;
      margin: 0 5px;
      transform: scale(.5);
      transition: transform .6s ease-in-out,background .6s ease-in-out;
      cursor: pointer;
      vertical-align: middle;
    }
    span.is-center{
      background-color: #888;
      transform: scale(1);
      &::after{
        color: #fff;
        content: '\e600';
        font-family: 'icon-fonts';
        line-height: 30px;
      }
    }
    span.is-center.is-reverse{
      transform: rotateY(180deg);
    }
  }
/*nav-end*/
